<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon class="toolbar-icon">mood</mat-icon>
        <span class="toolbar-spacer"></span>
        <span>Enemizer</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
</mat-menu>
<mat-card class="options-card">
    <mat-card-content>

        <form (ngSubmit)="onSubmit()">
            <mat-tab-group>
                <mat-tab label="General">
                    <div class="options-container">
                        <div>
                            <label class="btn btn-primary btn-file">
                                Select Rom
                                <input type="file" style="display: none;" (change)="onRomChange($event)" />
                            </label>
                            <label>{{romFilename}}</label>
                            <label class="text-danger">{{romError}}</label>
                        </div>
                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.GenerateSpoilers" name="GenerateSpoilers">
                                Generate Spoilers
                            </mat-slide-toggle>
                        </div>
                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeLinkSpritePalette" name="RandomizeLinkSpritePalette">
                                Randomize Link Sprite Palette
                            </mat-slide-toggle>
                        </div>
                    </div>
                    <!-- <div class="options-container">
                        <div>
                        </div>

                        <div>
                        </div>

                    </div> -->
                </mat-tab>
                <mat-tab label="Item/Entrance">
                    <div class="options-container">
                        <div>
                            <mat-form-field class="options-field">
                                <mat-select placeholder="Logic" [(ngModel)]="randomizerOptions.logic" name="logic" [disabled]="'false'">
                                    <mat-option *ngFor="let logicType of LogicTypeList" [value]="logicType.key">{{logicType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="options-field">
                                <mat-select placeholder="Difficulty" [(ngModel)]="randomizerOptions.difficulty" name="difficulty" [disabled]="'false'">
                                    <mat-option *ngFor="let difficultyType of DifficultyTypeList" [value]="difficultyType.key">{{difficultyType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="options-field">
                                <mat-select placeholder="Variation" [(ngModel)]="randomizerOptions.variation" name="variation" [disabled]="'false'">
                                    <mat-option *ngFor="let variationType of VariationTypeList" [value]="variationType.key">{{variationType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="options-field">
                                <mat-select placeholder="Mode" [(ngModel)]="randomizerOptions.mode" name="mode" [disabled]="'false'">
                                    <mat-option *ngFor="let modeType of ModeTypeList" [value]="modeType.key">{{modeType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="options-field">
                                <mat-select placeholder="Goal" [(ngModel)]="randomizerOptions.goal" name="goal" [disabled]="'false'">
                                    <mat-option *ngFor="let goalType of GoalTypeList" [value]="goalType.key">{{goalType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            {{randomizerOptions.goal}}
                        </div>
                        <div>
                            <mat-form-field class="options-field">
                                <mat-select placeholder="Entrance Shuffle" [(ngModel)]="randomizerOptions.shuffle" name="shuffle" [disabled]="'false'">
                                    <mat-option *ngFor="let shuffleType of ShuffleTypeList" [value]="shuffleType.key">{{shuffleType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            {{randomizerOptions.shuffle}}
                        </div>
                        <div>
                            <mat-form-field class="options-field">
                                <mat-select placeholder="Heart Beep Speed" [(ngModel)]="randomizerOptions.heart_speed" name="heart_speed" [disabled]="'false'">
                                    <mat-option *ngFor="let heartSpeedType of HeartBeepSpeedTypeList" [value]="heartSpeedType.key">{{heartSpeedType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="randomizerOptions.sram_trace" name="sram_trace">
                                SRAM Trace
                            </mat-slide-toggle>
                        </div>
                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="randomizerOptions.menu_fast" name="menu_fast">
                                Fast Menu
                            </mat-slide-toggle>
                        </div>
                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="randomizerOptions.debug" name="debug">
                                Debug
                            </mat-slide-toggle>
                        </div>
                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="randomizerOptions.tournament" name="tournament">
                                Race Seed
                            </mat-slide-toggle>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Enemies">
                    <div class="options-container">
                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeEnemies" name="RandomizeEnemies">
                                Randomize Enemies (WIP)
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-form-field class="options-field">
                                <mat-select placeholder="Type of Randomization" [(ngModel)]="optionFlags.RandomizeEnemiesType" name="RandomizeEnemiesType"
                                    [disabled]="'true'">
                                    <mat-option *ngFor="let enemiesType of RandomizeEnemiesTypeList | keys" [value]="enemiesType.key">{{enemiesType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeBushEnemyChance" name="RandomizeBushEnemyChance"
                                [disabled]="!optionFlags.RandomizeEnemies">
                                Randomize Bush/Grass Enemy Chance
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeEnemyHealthRange" name="RandomizeEnemyHealthRange">
                                Randomize Enemy Health Range
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-form-field class="options-field">
                                <mat-select placeholder="Randomize Enemy Health Type" [(ngModel)]="optionFlags.RandomizeEnemyHealthType" name="RandomizeEnemyHealthType"
                                    [disabled]="!optionFlags.RandomizeEnemyHealthRange">
                                    <mat-option *ngFor="let randomizeEnemyHPType of RandomizeEnemyHPTypeList | keys" [value]="randomizeEnemyHPType.key">{{randomizeEnemyHPType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            {{optionFlags.RandomizeEnemyHealthType}}
                        </div>
                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.OHKO" name="OHKO">
                                OHKO
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeEnemyDamage" name="RandomizeEnemyDamage"
                                [disabled]="optionFlags.OHKO">
                                Randomize Enemy Damage
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AllowEnemyZeroDamage" name="AllowEnemyZeroDamage"
                                [disabled]="optionFlags.OHKO || !optionFlags.RandomizeEnemyDamage">
                                Allow Enemy Zero Damage
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.ShuffleEnemyDamageGroups" name="ShuffleEnemyDamageGroups"
                                [disabled]="optionFlags.OHKO || !optionFlags.RandomizeEnemyDamage">
                                Shuffle Enemy Damage Groups
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.EnemyDamageChaosMode" name="EnemyDamageChaosMode"
                                [disabled]="optionFlags.OHKO || (!optionFlags.RandomizeEnemyDamage || !optionFlags.ShuffleEnemyDamageGroups)">
                                Enemy Damage Chaos Mode
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.EasyModeEscape" name="EasyModeEscape"
                                disabled>
                                Easy Mode Escape
                            </mat-slide-toggle>
                        </div>
                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.EnemiesAbsorbable" name="EnemiesAbsorbable">
                                Allow Absorbable Items (Dungeons)
                            </mat-slide-toggle>
                        </div>
                        <div>
                            <!-- *ngIf="optionFlags.EnemiesAbsorbable"> -->
                            <span class="fake-label">Absorbable Spawn Rate</span>
                            <br>
                            <mat-slider placeholder="Absorbable Spawn Rate" class="options-slider" [min]="'0'" [max]="'20'" [step]="'1'" [tick-interval]="'1'"
                                [(ngModel)]="optionFlags.AbsorbableSpawnRate" name="AbsorbableSpawnRate" [disabled]="!optionFlags.EnemiesAbsorbable">
                            </mat-slider>
                            +/-{{optionFlags.AbsorbableSpawnRate}}%
                        </div>
                        <mat-card>
                            <!-- *ngIf="optionFlags.EnemiesAbsorbable" -->
                            Absorbables
                            <div class="options-absorbables-list">
                                <div>
                                    <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AbsorbableTypes.Heart" name="Heart"
                                        [disabled]="!optionFlags.EnemiesAbsorbable">
                                        Heart
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AbsorbableTypes.GreenRupee" name="GreenRupee"
                                        [disabled]="!optionFlags.EnemiesAbsorbable">
                                        Green Rupee
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AbsorbableTypes.BlueRupee" name="BlueRupee"
                                        [disabled]="!optionFlags.EnemiesAbsorbable">
                                        Blue Rupee
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AbsorbableTypes.RedRupee" name="RedRupee"
                                        [disabled]="!optionFlags.EnemiesAbsorbable">
                                        Red Rupee
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AbsorbableTypes.Bomb_1" name="Bomb_1"
                                        [disabled]="!optionFlags.EnemiesAbsorbable">
                                        Bomb (1)
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AbsorbableTypes.Bomb_4" name="Bomb_4"
                                        [disabled]="!optionFlags.EnemiesAbsorbable">
                                        Bomb (4)
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AbsorbableTypes.Bomb_8" name="Bomb_8"
                                        [disabled]="!optionFlags.EnemiesAbsorbable">
                                        Bomb (8)
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AbsorbableTypes.SmallMagic" name="SmallMagic"
                                        [disabled]="!optionFlags.EnemiesAbsorbable">
                                        Small Magic
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AbsorbableTypes.FullMagic" name="FullMagic"
                                        [disabled]="!optionFlags.EnemiesAbsorbable">
                                        Full Magic
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AbsorbableTypes.Arrow_5" name="Arrow_5"
                                        [disabled]="!optionFlags.EnemiesAbsorbable">
                                        Arrow (5)
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AbsorbableTypes.Arrow_10" name="Arrow_10"
                                        [disabled]="!optionFlags.EnemiesAbsorbable">
                                        Arrow (10)
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AbsorbableTypes.Fairy" name="Fairy"
                                        [disabled]="!optionFlags.EnemiesAbsorbable">
                                        Fairy
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AbsorbableTypes.Key" name="Key" [disabled]="!optionFlags.EnemiesAbsorbable">
                                        Key
                                    </mat-slide-toggle>
                                </div>
                                <div>
                                    <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AbsorbableTypes.BigKey" name="BigKey"
                                        [disabled]="!optionFlags.EnemiesAbsorbable">
                                        Big Key
                                    </mat-slide-toggle>
                                </div>

                            </div>
                        </mat-card>

                    </div>
                </mat-tab>

                <mat-tab label="Bosses">
                    <div class="options-container">
                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeBosses" name="RandomizeBosses">
                                Randomize Bosses
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-form-field class="options-field">
                                <mat-select placeholder="Type of Randomization" [(ngModel)]="optionFlags.RandomizeBossesType" name="RandomizeBossesType"
                                    [disabled]="'false'">
                                    <mat-option *ngFor="let randomizeBossesType of RandomizeBossesTypeList | keys" [value]="randomizeBossesType.key">{{randomizeBossesType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeBossHealth" name="RandomizeBossHealth"
                                disabled>
                                Randomize Bosses Health
                            </mat-slide-toggle>
                        </div>

                        <!--
    RandomizeBossHealthMinAmount: number;
                        <div>
                            <mat-slider placeholder="Logic" class="options-slider" [disabled]="'false'" [min]="'0'" [max]="'20'" [step]="'1'" [tick-interval]="'1'"
                                [(ngModel)]="optionFlags.AbsorbableSpawnRate" name="AbsorbableSpawnRate">
                            </mat-slider>
                            +/-{{optionFlags.AbsorbableSpawnRate}}%
                        </div>
    RandomizeBossHealthMaxAmount: number;
                        <div>
                            <mat-slider placeholder="Logic" class="options-slider" [disabled]="'false'" [min]="'0'" [max]="'20'" [step]="'1'" [tick-interval]="'1'"
                                [(ngModel)]="optionFlags.AbsorbableSpawnRate" name="AbsorbableSpawnRate">
                            </mat-slider>
                            +/-{{optionFlags.AbsorbableSpawnRate}}%
                        </div>
-->

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeBossDamage" name="RandomizeBossDamage"
                                disabled>
                                Randomize Bosses Damage
                            </mat-slide-toggle>
                        </div>

                        <!--
    RandomizeBossDamageMinAmount: number;
                        <div>
                            <mat-slider placeholder="Logic" class="options-slider" [disabled]="'false'" [min]="'0'" [max]="'20'" [step]="'1'" [tick-interval]="'1'"
                                [(ngModel)]="optionFlags.AbsorbableSpawnRate" name="AbsorbableSpawnRate">
                            </mat-slider>
                            +/-{{optionFlags.AbsorbableSpawnRate}}%
                        </div>
    RandomizeBossDamageMaxAmount: number;
                        <div>
                            <mat-slider placeholder="Logic" class="options-slider" [disabled]="'false'" [min]="'0'" [max]="'20'" [step]="'1'" [tick-interval]="'1'"
                                [(ngModel)]="optionFlags.AbsorbableSpawnRate" name="AbsorbableSpawnRate">
                            </mat-slider>
                            +/-{{optionFlags.AbsorbableSpawnRate}}%
                        </div>
-->

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeBossBehavior" name="RandomizeBossBehavior"
                                disabled>
                                Randomize Boss Behavior (WIP)
                            </mat-slide-toggle>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Palettes">
                    <div class="options-container">

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeDungeonPalettes" name="RandomizeDungeonPalettes">
                                Randomize Dungeon Palettes
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.SetBlackoutMode" name="SetBlackoutMode">
                                Set All Palettes to Black (Black Out Mode)
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeOverworldPalettes" name="RandomizeOverworldPalettes">
                                Randomize Overworld Palettes
                            </mat-slide-toggle>
                        </div>


                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeSpritePalettes" name="RandomizeSpritePalettes">
                                Randomize Sprite Palettes (Basic)
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.SetAdvancedSpritePalettes" name="SetAdvancedSpritePalettes">
                                Advanced Sprite Palettes (Can be Aweful)
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.PukeMode" name="PukeMode">
                                Puke Mode
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.NegativeMode" name="NegativeMode">
                                Negative Mode
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.GrayscaleMode" name="GrayscaleMode">
                                Grayscale Mode
                            </mat-slide-toggle>
                        </div>

                    </div>
                </mat-tab>
                <mat-tab label="Extra">
                    <div class="options-container">

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizePots" name="RandomizePots">
                                Shuffle Pot Contents
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.ShuffleMusic" name="ShuffleMusic">
                                Shuffle Music (May crash game)
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.BootlegMagic" name="BootlegMagic">
                                Bootleg Magic
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.DebugMode" name="DebugMode">
                                Debug Mode
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.CustomBosses" name="CustomBosses">
                                Custom Bosses
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AndyMode" name="AndyMode">
                                Andy Mode
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-form-field class="options-field">
                                <mat-select placeholder="Heart Beep Speed" [(ngModel)]="optionFlags.HeartBeepSpeed" name="HeartBeepSpeed" [disabled]="'false'">
                                    <mat-option *ngFor="let heartBeepSpeed of HeartBeepSpeedList | keys" [value]="heartBeepSpeed.key">{{heartBeepSpeed.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AlternateGfx" name="AlternateGfx">
                                Alternate Graphics
                            </mat-slide-toggle>
                        </div>


                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.BeeMizer" name="BeeMizer">
                                BeeMizer
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-form-field class="options-field">
                                <mat-select placeholder="Bee Level" [(ngModel)]="optionFlags.BeesLevel" name="BeesLevel" [disabled]="'false'">
                                    <mat-option *ngFor="let beeLevel of BeeLevelList" [value]="beeLevel.key">{{beeLevel.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeTileTrapPattern" name="RandomizeTileTrapPattern">
                                Randomize Tile Trap Pattern
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeTileTrapFloorTile" name="RandomizeTileTrapFloorTile">
                                Randomize Tile Trap Floor Tile Type
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AllowKillableThief" name="AllowKillableThief">
                                Allow Killable Thieves
                            </mat-slide-toggle>
                        </div>

                    </div>
                </mat-tab>

                <mat-tab label="Graphics">
                    <div class="options-container">
                        <!--
    ShieldGraphics: string;
    SwordGraphics: string;
-->
                    </div>
                </mat-tab>
                <mat-tab label="Debug" *ngIf="optionFlags.DebugMode">
                    <div class="options-container">

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.DebugForceEnemy" name="DebugForceEnemy">
                                Force All Enemies
                            </mat-slide-toggle>
                        </div>

                        <!--
    DebugForceEnemyId: number;
-->

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.DebugForceBoss" name="DebugForceBoss">
                                Force All Bosses
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-form-field class="options-field">
                                <mat-select placeholder="Forced Boss" [(ngModel)]="optionFlags.DebugForceBossId" name="DebugForceBossId" [disabled]="'false'">
                                    <mat-option *ngFor="let bossType of BossTypeList | keys" [value]="bossType.key">{{bossType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.DebugOpenShutterDoors" name="DebugOpenShutterDoors">
                                Disable Shutter Doors
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.DebugForceEnemyDamageZero" name="DebugForceEnemyDamageZero">
                                Force Enemy Damage to 0
                            </mat-slide-toggle>
                        </div>

                        <div>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.DebugShowRoomIdInRupeeCounter" name="DebugShowRoomIdInRupeeCounter">
                                Show Current RoomID in Rupee Counter
                            </mat-slide-toggle>
                        </div>


                    </div>
                </mat-tab>
            </mat-tab-group>
            <section class="flex-buttons">
                <button mat-raised-button type="submit" color="primary">Submit</button>
            </section>
        </form>
    </mat-card-content>
</mat-card>