<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon class="toolbar-icon">mood</mat-icon>
        <span class="toolbar-spacer"></span>
        <span>Enemizer</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
</mat-menu>
<mat-card class="options-card">
    <mat-card-content>

        <form>
            <mat-tab-group>
                <!-- class="options-tab-group"> -->
                <mat-tab label="Item/Entrance">
                    <!--  class="options-tab"> -->
                    <ul class="flex-outer">

                        <li>
                            <label class="options-label" for="logic">logic</label>
                            <mat-form-field class="options-field">
                                <mat-select [ngModel]="randomizerOptions.logic" name="logic" [disabled]="'false'">
                                    <mat-option *ngFor="let logicType of LogicTypeList" [value]="logicType.key">{{logicType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>

                        <li>
                            <label class="options-label" for="difficulty">difficulty</label>
                            <mat-form-field class="options-field">
                                <mat-select [ngModel]="randomizerOptions.difficulty" name="difficulty" [disabled]="'false'">
                                    <mat-option *ngFor="let difficultyType of DifficultyTypeList" [value]="difficultyType.key">{{difficultyType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>

                        <li>
                            <label class="options-label" for="variation">variation</label>
                            <mat-form-field class="options-field">
                                <mat-select [ngModel]="randomizerOptions.variation" name="variation" [disabled]="'false'">
                                    <mat-option *ngFor="let variationType of VariationTypeList" [value]="variationType.key">{{variationType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>

                        <li>
                            <label class="options-label" for="mode">mode</label>
                            <mat-form-field class="options-field">
                                <mat-select [ngModel]="randomizerOptions.mode" name="mode" [disabled]="'false'">
                                    <mat-option *ngFor="let modeType of ModeTypeList" [value]="modeType.key">{{modeType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>

                        <li>
                            <label class="options-label" for="goal">goal</label>
                            <mat-form-field class="options-field">
                                <mat-select [ngModel]="randomizerOptions.goal" name="goal" [disabled]="'false'">
                                    <mat-option *ngFor="let goalType of GoalTypeList" [value]="goalType.key">{{goalType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>
                        <li>
                            <label class="options-label" for="shuffle">shuffle</label>
                            <mat-form-field class="options-field">
                                <mat-select [ngModel]="randomizerOptions.shuffle" name="shuffle" [disabled]="'false'">
                                    <mat-option *ngFor="let shuffleType of ShuffleTypeList" [value]="shuffleType.key">{{shuffleType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>

                        <li>
                            <label class="options-label" for="heart_speed">heart_speed</label>
                            <mat-form-field class="options-field">
                                <mat-select [ngModel]="randomizerOptions.heart_speed" name="heart_speed" [disabled]="'false'">
                                    <mat-option *ngFor="let heartSpeedType of HeartBeepSpeedTypeList" [value]="heartSpeedType.key">{{heartSpeedType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>

                        <li>
                            <label class="options-label" for="sram_trace">sram_trace</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="randomizerOptions.sram_trace" name="sram_trace">
                            </mat-slide-toggle>
                        </li>
                        <li>
                            <label class="options-label" for="menu_fast">menu_fast</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="randomizerOptions.menu_fast" name="menu_fast">
                            </mat-slide-toggle>
                        </li>
                        <li>
                            <label class="options-label" for="debug">debug</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="randomizerOptions.debug" name="debug">
                            </mat-slide-toggle>
                        </li>
                        <li>
                            <label class="options-label" for="tournament">tournament</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="randomizerOptions.tournament" name="tournament">
                            </mat-slide-toggle>
                        </li>

                    </ul>
                </mat-tab>

                <mat-tab label="Enemies">
                    <!--  class="options-tab"> -->
                    <ul class="flex-outer">
                        <li>
                            <label class="options-label" for="RandomizeEnemies">Randomize Enemies</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeEnemies" name="RandomizeEnemies">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="RandomizeEnemiesType">Randomize Enemies Type</label>
                            <mat-form-field class="options-field">
                                <mat-select [ngModel]="optionFlags.RandomizeEnemiesType" name="RandomizeEnemiesType" [disabled]="'true'">
                                    <mat-option *ngFor="let enemiesType of RandomizeEnemiesTypeList | keys" [value]="enemiesType.key">{{enemiesType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>

                        <li>
                            <label class="options-label" for="RandomizeBushEnemyChance">Randomize Bush Enemy Chance</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeBushEnemyChance" name="RandomizeBushEnemyChance">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="RandomizeEnemyHealthRange">Randomize Enemy Health Range</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeEnemyHealthRange" name="RandomizeEnemyHealthRange">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="RandomizeEnemyHealthType">RandomizeEnemyHealthType</label>
                            <mat-form-field class="options-field">
                                <mat-select [ngModel]="optionFlags.RandomizeEnemyHealthType" name="RandomizeEnemyHealthType" [disabled]="'false'">
                                    <mat-option *ngFor="let randomizeEnemyHPType of RandomizeEnemyHPTypeList | keys" [value]="randomizeEnemyHPType.key">{{randomizeEnemyHPType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>

                        <li>
                            <label class="options-label" for="RandomizeEnemyDamage">RandomizeEnemyDamage</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeEnemyDamage" name="RandomizeEnemyDamage">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="AllowEnemyZeroDamage">AllowEnemyZeroDamage</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AllowEnemyZeroDamage" name="AllowEnemyZeroDamage">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="ShuffleEnemyDamageGroups">ShuffleEnemyDamageGroups</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.ShuffleEnemyDamageGroups" name="ShuffleEnemyDamageGroups">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="EnemyDamageChaosMode">EnemyDamageChaosMode</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.EnemyDamageChaosMode" name="EnemyDamageChaosMode">
                            </mat-slide-toggle>
                        </li>


                        <li>
                            <label class="options-label" for="EasyModeEscape">EasyModeEscape</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.EasyModeEscape" name="EasyModeEscape">
                            </mat-slide-toggle>
                        </li>


                        <li>
                            <label class="options-label" for="EnemiesAbsorbable">EnemiesAbsorbable</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.EnemiesAbsorbable" name="EnemiesAbsorbable">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="EnemiesAbsorbable">EnemiesAbsorbable</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.EnemiesAbsorbable" name="EnemiesAbsorbable">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="AbsorbableSpawnRate">AbsorbableSpawnRate</label>
                            <mat-slider class="options-slider" [disabled]="'false'" [min]="'0'" [max]="'20'" [step]="'1'" [tick-interval]="'1'" [(ngModel)]="optionFlags.AbsorbableSpawnRate"
                                name="AbsorbableSpawnRate">
                            </mat-slider>
                            +/-{{optionFlags.AbsorbableSpawnRate}}%
                        </li>
                        <!--
    AbsorbableSpawnRate: number;
    AbsorbableTypes: AbsorbableTypesDictionary;
-->

                        <li>
                            <label class="options-label" for="OHKO">OHKO</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.OHKO" name="OHKO">
                            </mat-slide-toggle>
                        </li>
                    </ul>
                </mat-tab>

                <mat-tab label="Bosses">
                    <!--  class="options-tab"> -->
                    <ul class="flex-outer">
                        <li>
                            <label class="options-label" for="RandomizeBosses">RandomizeBosses</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeBosses" name="RandomizeBosses">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="RandomizeBossesType">RandomizeBossesType</label>
                            <mat-form-field class="options-field">
                                <mat-select [ngModel]="optionFlags.RandomizeBossesType" name="RandomizeBossesType" [disabled]="'false'">
                                    <mat-option *ngFor="let randomizeBossesType of RandomizeBossesTypeList | keys" [value]="randomizeBossesType.key">{{randomizeBossesType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>

                        <li>
                            <label class="options-label" for="RandomizeBossHealth">RandomizeBossHealth</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeBossHealth" name="RandomizeBossHealth">
                            </mat-slide-toggle>
                        </li>

                        <!--
    RandomizeBossHealthMinAmount: number;
    RandomizeBossHealthMaxAmount: number;
-->

                        <li>
                            <label class="options-label" for="RandomizeBossDamage">RandomizeBossDamage</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeBossDamage" name="RandomizeBossDamage">
                            </mat-slide-toggle>
                        </li>

                        <!--
    RandomizeBossDamageMinAmount: number;
    RandomizeBossDamageMaxAmount: number;
-->

                        <li>
                            <label class="options-label" for="RandomizeBossBehavior">RandomizeBossBehavior</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeBossBehavior" name="RandomizeBossBehavior">
                            </mat-slide-toggle>
                        </li>
                    </ul>
                </mat-tab>
                <mat-tab label="Palettes">
                    <!--  class="options-tab"> -->
                    <ul class="flex-outer">

                        <li>
                            <label class="options-label" for="RandomizeDungeonPalettes">RandomizeDungeonPalettes</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeDungeonPalettes" name="RandomizeDungeonPalettes">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="SetBlackoutMode">SetBlackoutMode</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.SetBlackoutMode" name="SetBlackoutMode">
                            </mat-slide-toggle>
                        </li>


                        <li>
                            <label class="options-label" for="RandomizeOverworldPalettes">RandomizeOverworldPalettes</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeOverworldPalettes" name="RandomizeOverworldPalettes">
                            </mat-slide-toggle>
                        </li>


                        <li>
                            <label class="options-label" for="RandomizeSpritePalettes">RandomizeSpritePalettes</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeSpritePalettes" name="RandomizeSpritePalettes">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="SetAdvancedSpritePalettes">SetAdvancedSpritePalettes</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.SetAdvancedSpritePalettes" name="SetAdvancedSpritePalettes">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="PukeMode">PukeMode</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.PukeMode" name="PukeMode">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="NegativeMode">NegativeMode</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.NegativeMode" name="NegativeMode">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="GrayscaleMode">GrayscaleMode</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.GrayscaleMode" name="GrayscaleMode">
                            </mat-slide-toggle>
                        </li>

                    </ul>
                </mat-tab>
                <mat-tab label="General">
                    <!--  class="options-tab"> -->
                    <ul class="flex-outer">
                        <li>
                            <label class="options-label" for="GenerateSpoilers">GenerateSpoilers</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.GenerateSpoilers" name="GenerateSpoilers">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="RandomizeLinkSpritePalette">RandomizeLinkSpritePalette</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeLinkSpritePalette" name="RandomizeLinkSpritePalette">
                            </mat-slide-toggle>
                        </li>

                    </ul>
                </mat-tab>
                <mat-tab label="Extra">
                    <!--  class="options-tab"> -->
                    <ul class="flex-outer">

                        <li>
                            <label class="options-label" for="RandomizePots">RandomizePots</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizePots" name="RandomizePots">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="ShuffleMusic">ShuffleMusic</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.ShuffleMusic" name="ShuffleMusic">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="BootlegMagic">BootlegMagic</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.BootlegMagic" name="BootlegMagic">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="DebugMode">DebugMode</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.DebugMode" name="DebugMode">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="CustomBosses">CustomBosses</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.CustomBosses" name="CustomBosses">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="AndyMode">AndyMode</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AndyMode" name="AndyMode">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="HeartBeepSpeed">HeartBeepSpeed</label>
                            <mat-form-field class="options-field">
                                <mat-select [ngModel]="optionFlags.HeartBeepSpeed" name="HeartBeepSpeed" [disabled]="'false'">
                                    <mat-option *ngFor="let heartBeepSpeed of HeartBeepSpeedList | keys" [value]="heartBeepSpeed.key">{{heartBeepSpeed.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>

                        <li>
                            <label class="options-label" for="AlternateGfx">AlternateGfx</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AlternateGfx" name="AlternateGfx">
                            </mat-slide-toggle>
                        </li>


                        <li>
                            <label class="options-label" for="BeeMizer">BeeMizer</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.BeeMizer" name="BeeMizer">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="BeesLevel">BeesLevel</label>
                            <mat-form-field class="options-field">
                                <mat-select [ngModel]="optionFlags.BeesLevel" name="BeesLevel" [disabled]="'false'">
                                    <mat-option *ngFor="let beeLevel of BeeLevelList" [value]="beeLevel.key">{{beeLevel.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>
                        <li>
                            <label class="options-label" for="RandomizeTileTrapPattern">RandomizeTileTrapPattern</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeTileTrapPattern" name="RandomizeTileTrapPattern">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="RandomizeTileTrapFloorTile">RandomizeTileTrapFloorTile</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.RandomizeTileTrapFloorTile" name="RandomizeTileTrapFloorTile">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="AllowKillableThief">AllowKillableThief</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.AllowKillableThief" name="AllowKillableThief">
                            </mat-slide-toggle>
                        </li>

                    </ul>
                </mat-tab>

                <mat-tab label="Graphics">
                    <!--  class="options-tab"> -->
                    <ul class="flex-outer">
                        <!--
    ShieldGraphics: string;
    SwordGraphics: string;
-->
                    </ul>
                </mat-tab>
                <mat-tab label="Debug">
                    <!--  class="options-tab"> -->
                    <ul class="flex-outer">

                        <li>
                            <label class="options-label" for="DebugForceEnemy">DebugForceEnemy</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.DebugForceEnemy" name="DebugForceEnemy">
                            </mat-slide-toggle>
                        </li>

                        <!--
    DebugForceEnemyId: number;
-->

                        <li>
                            <label class="options-label" for="DebugForceBoss">DebugForceBoss</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.DebugForceBoss" name="DebugForceBoss">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="DebugForceBossId">DebugForceBossId</label>
                            <mat-form-field class="options-field">
                                <mat-select [ngModel]="optionFlags.DebugForceBossId" name="DebugForceBossId" [disabled]="'false'">
                                    <mat-option *ngFor="let bossType of BossTypeList | keys" [value]="bossType.key">{{bossType.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li>

                        <li>
                            <label class="options-label" for="DebugOpenShutterDoors">DebugOpenShutterDoors</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.DebugOpenShutterDoors" name="DebugOpenShutterDoors">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="DebugForceEnemyDamageZero">DebugForceEnemyDamageZero</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.DebugForceEnemyDamageZero" name="DebugForceEnemyDamageZero">
                            </mat-slide-toggle>
                        </li>

                        <li>
                            <label class="options-label" for="DebugShowRoomIdInRupeeCounter">DebugShowRoomIdInRupeeCounter</label>
                            <mat-slide-toggle class="options-toggle" [color]="'primary'" [(ngModel)]="optionFlags.DebugShowRoomIdInRupeeCounter" name="DebugShowRoomIdInRupeeCounter">
                            </mat-slide-toggle>
                        </li>


                    </ul>
                </mat-tab>
            </mat-tab-group>
            <section class="flex-buttons">
                <button mat-raised-button type="submit" color="primary">Submit</button>
            </section>
        </form>
    </mat-card-content>
</mat-card>