<mat-card class="options-card">
    <mat-card-content>
        <h1>Enemizer Form</h1>

        <form>
            <section name="Enemies">
                <ul class="flex-outer">
                <li>
                    <label class="option-label" for="RandomizeEnemies">Randomize Enemies</label>
                    <mat-slide-toggle
                        class="option-toggle"
                        [color]="'primary'"
                        [(ngModel)]="optionFlags.RandomizeEnemies" name="RandomizeEnemies">
                    </mat-slide-toggle>
                </li>

                <li>
                    <label class="option-label" for="RandomizeEnemiesType">Randomize Enemies Type</label>
                    <mat-form-field class="option-field">
                        <mat-select [ngModel]="optionFlags.RandomizeEnemiesType" 
                                    name="RandomizeEnemiesType" 
                                    [disabled]="'true'">
                            <mat-option *ngFor="let enemiesType of RandomizeEnemiesTypeList | keys" [value]="enemiesType.key">{{enemiesType.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>

                <li>
                    <label class="option-label" for="RandomizeBushEnemyChance">Randomize Bush Enemy Chance</label>
                    <mat-slide-toggle
                        class="option-toggle"
                        [color]="'primary'"
                        [(ngModel)]="optionFlags.RandomizeBushEnemyChance" name="RandomizeBushEnemyChance">
                    </mat-slide-toggle>
                </li>

                <li>
                    <label class="option-label" for="RandomizeEnemyHealthRange">Randomize Enemy Health Range</label>
                    <mat-slide-toggle
                        class="option-toggle"
                        [color]="'primary'"
                        [(ngModel)]="optionFlags.RandomizeEnemyHealthRange" name="RandomizeEnemyHealthRange">
                    </mat-slide-toggle>
                </li>

                <li>
                    <label class="option-label" for="RandomizeEnemyHealthType">RandomizeEnemyHealthType</label>
                    <mat-form-field class="option-field">
                        <mat-select [ngModel]="optionFlags.RandomizeEnemyHealthType" 
                                    name="RandomizeEnemyHealthType" 
                                    [disabled]="'false'">
                            <mat-option *ngFor="let randomizeEnemyHPType of RandomizeEnemyHPTypeList | keys" [value]="randomizeEnemyHPType.key">{{randomizeEnemyHPType.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>

                <li>
                    <label class="option-label" for="RandomizeEnemyDamage">RandomizeEnemyDamage</label>
                    <mat-slide-toggle
                        class="option-toggle"
                        [color]="'primary'"
                        [(ngModel)]="optionFlags.RandomizeEnemyDamage" name="RandomizeEnemyDamage">
                    </mat-slide-toggle>
                </li>

                <li>
                    <label class="option-label" for="AllowEnemyZeroDamage">AllowEnemyZeroDamage</label>
                    <mat-slide-toggle
                        class="option-toggle"
                        [color]="'primary'"
                        [(ngModel)]="optionFlags.AllowEnemyZeroDamage" name="AllowEnemyZeroDamage">
                    </mat-slide-toggle>
                </li>

                <li>
                    <label class="option-label" for="ShuffleEnemyDamageGroups">ShuffleEnemyDamageGroups</label>
                    <mat-slide-toggle
                        class="option-toggle"
                        [color]="'primary'"
                        [(ngModel)]="optionFlags.ShuffleEnemyDamageGroups" name="ShuffleEnemyDamageGroups">
                    </mat-slide-toggle>
                </li>

                <li>
                    <label class="option-label" for="EnemyDamageChaosMode">EnemyDamageChaosMode</label>
                    <mat-slide-toggle
                        class="option-toggle"
                        [color]="'primary'"
                        [(ngModel)]="optionFlags.EnemyDamageChaosMode" name="EnemyDamageChaosMode">
                    </mat-slide-toggle>
                </li>


                <li>
                    <label class="option-label" for="EasyModeEscape">EasyModeEscape</label>
                    <mat-slide-toggle
                        class="option-toggle"
                        [color]="'primary'"
                        [(ngModel)]="optionFlags.EasyModeEscape" name="EasyModeEscape">
                    </mat-slide-toggle>
                </li>


                <li>
                    <label class="option-label" for="EnemiesAbsorbable">EnemiesAbsorbable</label>
                    <mat-slide-toggle
                        class="option-toggle"
                        [color]="'primary'"
                        [(ngModel)]="optionFlags.EnemiesAbsorbable" name="EnemiesAbsorbable">
                    </mat-slide-toggle>
                </li>

                <!-- <div class="form-group">
            <label class="option-label" for="AbsorbableSpawnRate">AbsorbableSpawnRate</label>
            <input type="checkbox" class="form-control" id="AbsorbableSpawnRate" [(ngModel)]="optionFlags.AbsorbableSpawnRate" name="AbsorbableSpawnRate"/>
        </div> -->
                <!--
    AbsorbableSpawnRate: number;
    AbsorbableTypes: AbsorbableTypesDictionary;
-->
                </ul>
            </section>

            <div class="form-group">
                <label class="option-label" for="RandomizeBosses">RandomizeBosses</label>
                <input type="checkbox" class="form-control" id="RandomizeBosses" [(ngModel)]="optionFlags.RandomizeBosses" name="RandomizeBosses"
                />
            </div>

            <div class="form-group">
                <label class="option-label" for="RandomizeBossesType">RandomizeBossesType</label>
                <select class="form-control" id="RandomizeBossesType" [(ngModel)]="optionFlags.RandomizeBossesType" name="RandomizeBossesType">
                    <option *ngFor="let randomizeBossesType of RandomizeBossesTypeList | keys" [value]="randomizeBossesType.key">{{randomizeBossesType.value}}</option>
                </select>
            </div>

            <div class="form-group">
                <label class="option-label" for="RandomizeBossHealth">RandomizeBossHealth</label>
                <input type="checkbox" class="form-control" id="RandomizeBossHealth" [(ngModel)]="optionFlags.RandomizeBossHealth" name="RandomizeBossHealth"
                />
            </div>

            <!--
    RandomizeBossHealthMinAmount: number;
    RandomizeBossHealthMaxAmount: number;
-->

            <div class="form-group">
                <label class="option-label" for="RandomizeBossDamage">RandomizeBossDamage</label>
                <input type="checkbox" class="form-control" id="RandomizeBossDamage" [(ngModel)]="optionFlags.RandomizeBossDamage" name="RandomizeBossDamage"
                />
            </div>

            <!--
    RandomizeBossDamageMinAmount: number;
    RandomizeBossDamageMaxAmount: number;
-->

            <div class="form-group">
                <label class="option-label" for="RandomizeBossBehavior">RandomizeBossBehavior</label>
                <input type="checkbox" class="form-control" id="RandomizeBossBehavior" [(ngModel)]="optionFlags.RandomizeBossBehavior" name="RandomizeBossBehavior"
                />
            </div>


            <div class="form-group">
                <label class="option-label" for="RandomizeDungeonPalettes">RandomizeDungeonPalettes</label>
                <input type="checkbox" class="form-control" id="RandomizeDungeonPalettes" [(ngModel)]="optionFlags.RandomizeDungeonPalettes"
                    name="RandomizeDungeonPalettes" />
            </div>

            <div class="form-group">
                <label class="option-label" for="SetBlackoutMode">SetBlackoutMode</label>
                <input type="checkbox" class="form-control" id="SetBlackoutMode" [(ngModel)]="optionFlags.SetBlackoutMode" name="SetBlackoutMode"
                />
            </div>


            <div class="form-group">
                <label class="option-label" for="RandomizeOverworldPalettes">RandomizeOverworldPalettes</label>
                <input type="checkbox" class="form-control" id="RandomizeOverworldPalettes" [(ngModel)]="optionFlags.RandomizeOverworldPalettes"
                    name="RandomizeOverworldPalettes" />
            </div>


            <div class="form-group">
                <label class="option-label" for="RandomizeSpritePalettes">RandomizeSpritePalettes</label>
                <input type="checkbox" class="form-control" id="RandomizeSpritePalettes" [(ngModel)]="optionFlags.RandomizeSpritePalettes"
                    name="RandomizeSpritePalettes" />
            </div>

            <div class="form-group">
                <label class="option-label" for="SetAdvancedSpritePalettes">SetAdvancedSpritePalettes</label>
                <input type="checkbox" class="form-control" id="SetAdvancedSpritePalettes" [(ngModel)]="optionFlags.SetAdvancedSpritePalettes"
                    name="SetAdvancedSpritePalettes" />
            </div>

            <div class="form-group">
                <label class="option-label" for="PukeMode">PukeMode</label>
                <input type="checkbox" class="form-control" id="PukeMode" [(ngModel)]="optionFlags.PukeMode" name="PukeMode" />
            </div>

            <div class="form-group">
                <label class="option-label" for="NegativeMode">NegativeMode</label>
                <input type="checkbox" class="form-control" id="NegativeMode" [(ngModel)]="optionFlags.NegativeMode" name="NegativeMode"
                />
            </div>

            <div class="form-group">
                <label class="option-label" for="GrayscaleMode">GrayscaleMode</label>
                <input type="checkbox" class="form-control" id="GrayscaleMode" [(ngModel)]="optionFlags.GrayscaleMode" name="GrayscaleMode"
                />
            </div>


            <div class="form-group">
                <label class="option-label" for="GenerateSpoilers">GenerateSpoilers</label>
                <input type="checkbox" class="form-control" id="GenerateSpoilers" [(ngModel)]="optionFlags.GenerateSpoilers" name="GenerateSpoilers"
                />
            </div>

            <div class="form-group">
                <label class="option-label" for="RandomizeLinkSpritePalette">RandomizeLinkSpritePalette</label>
                <input type="checkbox" class="form-control" id="RandomizeLinkSpritePalette" [(ngModel)]="optionFlags.RandomizeLinkSpritePalette"
                    name="RandomizeLinkSpritePalette" />
            </div>

            <div class="form-group">
                <label class="option-label" for="RandomizePots">RandomizePots</label>
                <input type="checkbox" class="form-control" id="RandomizePots" [(ngModel)]="optionFlags.RandomizePots" name="RandomizePots"
                />
            </div>

            <div class="form-group">
                <label class="option-label" for="ShuffleMusic">ShuffleMusic</label>
                <input type="checkbox" class="form-control" id="ShuffleMusic" [(ngModel)]="optionFlags.ShuffleMusic" name="ShuffleMusic"
                />
            </div>

            <div class="form-group">
                <label class="option-label" for="BootlegMagic">BootlegMagic</label>
                <input type="checkbox" class="form-control" id="BootlegMagic" [(ngModel)]="optionFlags.BootlegMagic" name="BootlegMagic"
                />
            </div>

            <div class="form-group">
                <label class="option-label" for="DebugMode">DebugMode</label>
                <input type="checkbox" class="form-control" id="DebugMode" [(ngModel)]="optionFlags.DebugMode" name="DebugMode" />
            </div>

            <div class="form-group">
                <label class="option-label" for="CustomBosses">CustomBosses</label>
                <input type="checkbox" class="form-control" id="CustomBosses" [(ngModel)]="optionFlags.CustomBosses" name="CustomBosses"
                />
            </div>

            <div class="form-group">
                <label class="option-label" for="AndyMode">AndyMode</label>
                <input type="checkbox" class="form-control" id="AndyMode" [(ngModel)]="optionFlags.AndyMode" name="AndyMode" />
            </div>

            <div class="form-group">
                <label class="option-label" for="HeartBeepSpeed">HeartBeepSpeed</label>
                <select class="form-control" id="HeartBeepSpeed" [(ngModel)]="optionFlags.HeartBeepSpeed" name="HeartBeepSpeed">
                    <option *ngFor="let heartBeepSpeed of HeartBeepSpeedList | keys" [value]="heartBeepSpeed.key">{{heartBeepSpeed.value}}</option>
                </select>
            </div>

            <div class="form-group">
                <label class="option-label" for="AlternateGfx">AlternateGfx</label>
                <input type="checkbox" class="form-control" id="AlternateGfx" [(ngModel)]="optionFlags.AlternateGfx" name="AlternateGfx"
                />
            </div>

            <!--
    ShieldGraphics: string;
    SwordGraphics: string;
-->

            <div class="form-group">
                <label class="option-label" for="BeeMizer">BeeMizer</label>
                <input type="checkbox" class="form-control" id="BeeMizer" [(ngModel)]="optionFlags.BeeMizer" name="BeeMizer" />
            </div>

            <div class="form-group">
                <label class="option-label" for="BeesLevel">BeesLevel</label>
                <select class="form-control" id="BeesLevel" [(ngModel)]="optionFlags.BeesLevel" name="BeesLevel">
                    <option *ngFor="let beeLevel of BeeLevelList | keys" [value]="beeLevel.key">{{beeLevel.value}}</option>
                </select>
            </div>

            <div class="form-group">
                <label class="option-label" for="DebugForceEnemy">DebugForceEnemy</label>
                <input type="checkbox" class="form-control" id="DebugForceEnemy" [(ngModel)]="optionFlags.DebugForceEnemy" name="DebugForceEnemy"
                />
            </div>

            <!--
    DebugForceEnemyId: number;
-->

            <div class="form-group">
                <label class="option-label" for="DebugForceBoss">DebugForceBoss</label>
                <input type="checkbox" class="form-control" id="DebugForceBoss" [(ngModel)]="optionFlags.DebugForceBoss" name="DebugForceBoss"
                />
            </div>

            <div class="form-group">
                <label class="option-label" for="DebugForceBossId">DebugForceBossId</label>
                <select class="form-control" id="DebugForceBossId" [(ngModel)]="optionFlags.DebugForceBossId" name="DebugForceBossId">
                    <option *ngFor="let bossType of BossTypeList | keys" [value]="bossType.key">{{bossType.value}}</option>
                </select>
            </div>

            <div class="form-group">
                <label class="option-label" for="DebugOpenShutterDoors">DebugOpenShutterDoors</label>
                <input type="checkbox" class="form-control" id="DebugOpenShutterDoors" [(ngModel)]="optionFlags.DebugOpenShutterDoors" name="DebugOpenShutterDoors"
                />
            </div>

            <div class="form-group">
                <label class="option-label" for="DebugForceEnemyDamageZero">DebugForceEnemyDamageZero</label>
                <input type="checkbox" class="form-control" id="DebugForceEnemyDamageZero" [(ngModel)]="optionFlags.DebugForceEnemyDamageZero"
                    name="DebugForceEnemyDamageZero" />
            </div>

            <div class="form-group">
                <label class="option-label" for="DebugShowRoomIdInRupeeCounter">DebugShowRoomIdInRupeeCounter</label>
                <input type="checkbox" class="form-control" id="DebugShowRoomIdInRupeeCounter" [(ngModel)]="optionFlags.DebugShowRoomIdInRupeeCounter"
                    name="DebugShowRoomIdInRupeeCounter" />
            </div>

            <div class="form-group">
                <label class="option-label" for="OHKO">OHKO</label>
                <input type="checkbox" class="form-control" id="OHKO" [(ngModel)]="optionFlags.OHKO" name="OHKO" />
            </div>

            <div class="form-group">
                <label class="option-label" for="RandomizeTileTrapPattern">RandomizeTileTrapPattern</label>
                <input type="checkbox" class="form-control" id="RandomizeTileTrapPattern" [(ngModel)]="optionFlags.RandomizeTileTrapPattern"
                    name="RandomizeTileTrapPattern" />
            </div>

            <div class="form-group">
                <label class="option-label" for="RandomizeTileTrapFloorTile">RandomizeTileTrapFloorTile</label>
                <input type="checkbox" class="form-control" id="RandomizeTileTrapFloorTile" [(ngModel)]="optionFlags.RandomizeTileTrapFloorTile"
                    name="RandomizeTileTrapFloorTile" />
            </div>

            <div class="form-group">
                <label class="option-label" for="AllowKillableThief">AllowKillableThief</label>
                <input type="checkbox" class="form-control" id="AllowKillableThief" [(ngModel)]="optionFlags.AllowKillableThief" name="AllowKillableThief"
                />
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </mat-card-content>
</mat-card>